@use "../abstract/variables";

.header {
    position: relative;
    background-image: url(../assets/Background-image.png);
    height: 90vh;

    &__title {
        position: absolute;
        top: 35%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;


        &--primary,
        &--secondary {
            color: variables.$whitish;
        }

        &--secondary {
            font-family: "Lexend", cursive;
            font-size: 4.5rem;
            margin-bottom: 5rem;
        }

        &--primary {
            font-family: "Abel", cursive;
            font-size: 2.5rem;

        }
    }
}