@use "../abstract/variables";

.cards {
	margin-top: 8rem;
	// display: -webkit-box;
	// display: -ms-flexbox;
	// display: flex;
	// -webkit-box-pack: justify;
	// -ms-flex-pack: justify;
	// justify-content: space-between;
	// -ms-flex-wrap: wrap;
	//     flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 3rem;
}

.picture-category {
	margin: 3rem 0;
	border-bottom: 2px solid #333;
	padding-bottom: 3rem;

	display: grid;
	grid-template-columns: 65% 32%;
	// grid-template-columns: 1fr; will be great for responsiveness
	-webkit-column-gap: 3%;
	column-gap: 3%;
	grid-template-rows: repeat(2, -webkit-min-content);
	grid-template-rows: repeat(2, min-content);

	&.second {
		grid-template-rows: 54rem -webkit-min-content;
		grid-template-rows: 54rem min-content;
	}

	&__picture {
		// WORKS....
		-o-object-fit: cover;
		object-fit: cover;

		img {
			// LIKE GOD!
			width: 100%;
			height: 100%;
		}
	}

	&__category {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		&--title {
			-ms-flex-item-align: start;
			align-self: flex-start;
		}

		&--list {
			list-style-type: none;
			width: 70%;
			margin-top: 1.5rem;

			li {
				margin-bottom: 2rem;
				background-image: variables.$sky;
				padding: 1.1rem 1.5rem;
				border-radius: 1rem;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: justify;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
			}
		}
	}

	&__caption {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	&__popular-post {
		display: grid;
		// grid-template-rows: -webkit-min-content 5rem -webkit-min-content;
		// grid-template-rows: -webkit-min-content 50rem -webkit-min-content;
		grid-template-rows: -webkit-min-content 20rem -webkit-min-content;
		grid-template-rows: min-content 20rem min-content;

		&--thumbnail {
			-o-object-fit: cover;
			object-fit: cover;

			img {
				width: 100%;
				height: 100%;
			}
		}

		&--paragraph {
			font-size: 1.4rem;
		}
	}
}
